### REQUIRED ARGUMENTS

In [1]:
def req(num1,num2):
    print("Enter first number:",num1)
    print("Enter second number:",num2)

num1 = 2
num2 = 4
req(num1,num2)

Enter first number: 2
Enter second number: 4

In [2]:
def greet():
    print("Hello and welcome")

person = input("What is your name?:")
greet(person)

What is your name?:Ken

TypeError: greet() takes 0 positional arguments but 1 was given

In [3]:
def hello(name):
    print("Hello",name)

hello("Kenny")

Hello Kenny

### KEYWORD ARGUMENTS

In [4]:
def emp(name,designation):
    print(name,designation)

emp(name = "Kenny", designation = "CEO")
emp(designation = "CEO",name="Kenny")

Kenny CEO
Kenny CEO

### DEFAULT ARGUMENTS

In [5]:
def emp(name,sal=120000):
    print("Name:",name)
    print("Salary:",sal)
    
emp("Kenny")

Name: Kenny
Salary: 120000

### VARIABLE-LENGTH  ARGUMENTS

In [6]:
def add(*num):
    add=0
    for i in num:
        add=add+i
    print(add)

add(2,3)
add(2,3,4,5,6,7)

5
27

In [7]:
def  emp(**details):
    print(type(details))
    for k,v in details.items():
        print(k,"-->",v)
        
emp(Name = "Jack", Salary = 10000)

<class 'dict'>
Name --> Jack
Salary --> 10000

In [8]:
emp(Name = "Jack",Salary = 10000,Designation = "Data analyst",age=27)

<class 'dict'>
Name --> Jack
Salary --> 10000
Designation --> Data analyst
age --> 27