In [1]:
t = (12,14,"sugar","Bread")
print(t)
type(t)

(12, 14, 'sugar', 'Bread')

tuple

In [2]:
t2 = 12,14,"sugar","Bread"
print(t2)
type(t2)

(12, 14, 'sugar', 'Bread')

tuple

In [3]:
x = 19,14,52,23,20
sorted(x)

[14, 19, 20, 23, 52]

In [4]:
y = 19.5,14.2,52.2,23,20
sorted(y)

[14.2, 19.5, 20, 23, 52.2]

In [5]:
a = 12,20,9,15
b = sorted(a)# creates a list
print(b)
type(b)

[9, 12, 15, 20]

list

In [6]:
z = "pepsi","coke","fanta"
n=3
y=z*n
print(y)

('pepsi', 'coke', 'fanta', 'pepsi', 'coke', 'fanta', 'pepsi', 'coke', 'fanta')

### SORTED
##### Tuple does not have a sort fucntion

In [7]:
prices=(12,56,68,22,94,12,56)
sorted(prices)

[12, 12, 22, 56, 56, 68, 94]

### CONCATENATE

In [8]:
x = "pizza","burger","sandwich"
y = z+x
print(y)

('pepsi', 'coke', 'fanta', 'pizza', 'burger', 'sandwich')

In [9]:
print("pepsi" in z)
print("dew" not in z)

True
True

In [10]:
for i in z:
    print(i)

pepsi
coke
fanta

In [11]:
len(z)

3

In [12]:
a = 12,20,9,15
max(a)

20

In [13]:
a = 12,20,9,15
min(a)

9

In [14]:
tup = (12,123,4.4,"car")
max(tup)

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
del tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
p = (20,35,15,[4,6,12])
p[3].append(15)
print(p)

(20, 35, 15, [4, 6, 12, 15])

In [17]:
names = ("harry","kenny","james",12,31)
names[0:3]

('harry', 'kenny', 'james')

In [18]:
names[2:5]

('james', 12, 31)